body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.menu button, li, button {
    background: #6366f1;
    border: none;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
}

li {
    list-style: none;
}

li:hover, button:hover {
    background: #818cf8;
}